
spring:
  datasource:
    url: jdbc:postgresql://${db-url:localhost}:5432/norsify
    username: postgres
    password: joelson
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  flyway:
    baseline-on-migrate: false
    enabled: false
    locations: classpath:db/migration

  logging:
       level:
            root: DEBUG
